<!DOCTYPE html>
<html lang="en">

<head>
  <!-- <meta charset="UTF-8"> -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
  <link rel="stylesheet" href="styles.css">
  <% include ./partials/head%>

</head>

<body>
  <header>
    <% include ./partials/header%>
  </header>
  <h1>Hello akouvi focus on the code</h1>
  <p>
    <!-- <%= tagline %> -->
  </p>
  <!-- <button id="create" href="/getAUser">Create a User</button> -->
  <!-- <button id="get">get a User</button> -->
  <!-- <button id="update">Updat a User</button> -->
  <!-- <button id="delete">Delete a User</button> -->


  <!-- <ul>
    <% drinks.forEach(function(drink){ %>
      <li>
        <%= drink.name%> -
          <%= drink.drunkness%>
      </li> %>
      <%}); %>
  </ul> -->


  <footer>
    <% include ./partials/footer%>
  </footer>



  <script src="script.js"></script>
</body>

</html>