<!DOCTYPE html>
<html lang="en">

<head>
  <!-- <meta charset="UTF-8"> -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
  <link rel="stylesheet" href="styles.css">
  <% include ./partials/head%>

</head>

<body>
  <header>
    <link rel="stylesheet" href="styles.css">
  </header>
  <form action="" method="post"></form>
  <div id="messages"></div>
  <div id="holder">
    <p>Message Here:</p>
    <textarea name="message" id="textarea" cols="30" rows="10"></textarea>
    <button id="enter">Enter</button>

  </div>

  <script src="script.js"></script>
</body>

</html>