button {
  height: 2em;
  margin: 2em 0.5em;
  color: gold;
  font-size: 1em;
  width: 11em;
  cursor: pointer;
}
form {
  margin: 20em 40em;
}

input {
  margin-top: 1em;
  height: 3em;
  width: 17em;
  outline: none;
}
